version: "3.9"

services:
  cs2:
    image: ghcr.io/joedwards32/cs2:latest
    container_name: cs2-server
    restart: unless-stopped
    stdin_open: true
    tty: true

    network_mode: host

    volumes:
      - ./cs2-data:/home/steam/cs2-dedicated

    security_opt:
      - seccomp=unconfined

    ports:
      - "27005:27005/udp"
      - "27015:27015/udp"
      - "27015:27015/tcp"

    environment:
      CS2_RCONPW: "${RCON_PASSWORD}"

      GAME_TYPE: "0"
      GAME_MODE: "0"
      MAP: "de_inferno"
      MAX_PLAYERS: "10"

      PORT: "27015"
      CS2_RCON_PORT: "27015"

      STEAM_GSLT: "${STEAM_GSLT}"

    stop_grace_period: 60s


  control:
    image: ghcr.io/harrytjbreen/cs2-control:latest
    container_name: cs2-control
    restart: unless-stopped

    network_mode: host
    depends_on:
      - cs2

    environment:
      # RCON connection
      RCON_HOST: "127.0.0.1"
      RCON_PORT: "27015"
      RCON_PASSWORD: "${RCON_PASSWORD}"

    stop_grace_period: 10s
